{
    "extends": "@apify",
    "env": {
        "mocha": true
    },
    "rules": {
        "no-throw-literal": "off",
        "no-unused-vars": [
            "error",
            {
                "varsIgnorePattern": "should|expect"
            }
        ]
    }
}
